.progress {
    position: relative;
    width: 100px;
    height: 20px;
    overflow: hidden;
    display: inline-block;



}

.slider-scale{
    display: inline-flex;
}
.wrap{
display: inline-block;

}

.strips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #000 0%, #000 10%, transparent 10%, transparent 100%);
    background-size:20px 100%; /* Ширина деления = 6px / 2 = 3px */
}

.grayback {
    position: relative;
    left: 79%; /* Текущее состояние */
    width: 100%;
    height: 100%;
    background-color: #ddd;
    display: inline-block;
}
.container{
    display: inline-flex;
    flex-direction: column;
}
.line{

    height: 10px;
    background-color: green;
    position: relative;
}
.slider-scale-tick {
    position: relative;
    height: 30px;
    z-index: 10;
    width: 2px;
    display: inline-block;
    background-color: black;
    margin-right:  18px ;
}

.slider-scale-tick:after {
    top: 40px;
    counter-increment: section;
    content: attr(data-label);
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
}

.block_layer1{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
    z-index: -1;
    border-radius: 20px;

}

.uu1{

    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    position:absolute;
    bottom: 40px;
    border-radius: 100px;
    color: #dddddd;




    height: 20px;
    background-color: blue;

}

.uu2{

    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    position:absolute;
    bottom: 40px;
    border-radius: 100px;
    color: #dddddd;




    height: 20px;
    background-color: blue;

}

.block{
    margin-top: 10%;
    width: 100%;



    height: 40px;
    background-image: linear-gradient(to top, white 0%, white 35%, transparent 35%, transparent 65%,white 65%, white 100% );
    position: relative;

    display: flex;


}
.uu{


    margin: auto;

    height: 25px;
    width: 25px;
    background-color: blue;
    border: 2px solid black;

    border-radius: 999px;


}

.pip{
    position: absolute;
    height: 100%;
    margin: auto 0;
    transition-property: left;
    transition-duration: 0.01s;
    display: flex;
}
.pip1{
     position: absolute;
     height: 100%;
     margin: auto 0;
     transition-property: left;
     transition-duration: 0.01s;
     display: flex;
 }
.main{
    display: flex;
    justify-content: center;
}